
*.json
*.sqlite
*.opendb
*.db-shm
.vs/Faramaz-AnvarProject/v17/.wsuo
*.db
*.db-wal
*.vsidx
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/e1d327c74bcdbf1d/FACTORIALS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/9e72cfc733d2622d/MAIN.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/9531f5779fe72e5d/COMBINATIONS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/8e3683bddc2141ac/FACTORIALS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/56f4b52917e3cfa4/COMBINATIONS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/65f077c0c1cc40ec/COMBINATIONS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/45fdeb2b5eacf268/COUNTGOODSTRINGS.ipch
.vs/Faramaz-AnvarProject/v17/ipch/AutoPCH/10550f20f77c1ee5/MAIN.ipch
.vs/CMake Overview
*.ninja
out/build/x64-Debug/CMakeCache.txt
*.cmake
out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
*.c
out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.exe
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-Debug/CMakeFiles/OurProject.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
README.md
README.md
